<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ip_value" value="10.171.161.41" />
    <add key="ip_route" value="https://10.171.161.41:50000/b1s/v1/" />
    <add key="ip_xs" value="http://10.171.161.41:8000/Venta/Services/" />
    <add key="CompanyDB" value="Z_RMS_FINAL" />
    <add key="UserName" value="manager" />
    <add key="Password" value="xypxa" />
    <add key="U_SYP_TVENTA" value="01" />
    <add key="U_SYP_MDMT" value="01" />

    <add key="U_SYP_MDCT" value="P20600718704" />
    <add key="U_SYP_MDRT" value="20600718704" />
    <add key="U_SYP_MDNT" value="ROCAV TRADING S.A.C." />
    <add key="U_SYP_MDDT" value="AV. MAQUINARIAS N°3015-LIMA-LIMA-LIMA" />
    <add key="U_SYP_MDFN" value="JOSE VILLACORTA ALARCÓN" />
    <add key="U_SYP_MDFC" value="Q09919286" />
    <add key="U_SYP_MDVN" value="HYUNDAI" />
    <add key="U_SYP_MDVC" value="ALS-728" />

    <add key="CreditAcct" value="16991001" />
    <add key="CreditCardNumber" value="9116" />
    <add key="VoucherNum" value="249824" />
    <add key="CardValidUntil" value="19991231" />

    <add key="Interval" value="30" />
  </appSettings>
</configuration>