<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ip_value" value="10.171.161.41" />
    <add key="ip_route" value="https://10.171.161.41:50000/b1s/v1/" />
    <add key="ip_xs" value="http://10.171.161.41:8000/MIGVentas/services/" />
    <add key="CompanyDB" value="Z_RMS_FINAL" />
    <add key="UserName" value="manager" />
    <add key="Password" value="xypxa" />
  </appSettings>
</configuration>